@import './breakpoints';

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin pageDynamicPaddings {
    @include large-screen {
        padding: 36px 128px;
    }

    @include medium-screen {
        padding: 24px 32px;
    }
    
    @include tablet-screen {
        padding: 16px 24px;
    }
    
    @include phone-screen {
        padding: 16px 24px;
    }
} 

@mixin pageCenterDynamic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;

    @include tablet-screen {
        padding-top: 10vh;
    }

    @include phone-screen {
        padding-top: 16px
    }
}