@import '../../styles/colors';
@import '../../styles/effects';
@import '../../styles/breakpoints';

.header {
    padding: 2px;

    @include large-screen {
        padding: 10px 96px;
    }

    @include medium-screen {
        padding: 10px 24px;
    }

    @include tablet-screen {
        padding: 10px 24px;
    }

    @include phone-screen {
        padding: 10px 16px;
    }

    &__link, &__link:visited {
        text-decoration: none;
    }

    &__link {
        @include linkHover();
    }

    &__logo {
        margin-right: 24px;
    }
}