@import '../styles/colors';
@import '../styles/effects';
@import '../styles/mixin';

.page-create {
    @include pageCenterDynamic();

    &__content {
        @include flexColumn();
        justify-content: space-between;
        background-color: $surface;
        border-radius: 16px;
        @include elevation2();
        padding: 64px 36px 36px;
    }

    &__form {
        @include flexColumn();

        &>div {
            margin-bottom: 36px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;

        &>button {
            margin-left: 16px;
        }
    }

    &__title {
        color: $grayDark;
    }

    &__link {
        padding-bottom: 12px;
        color: $graySecondary;
        display: flex;
        justify-content: space-between;
    }
}