@import '../styles/breakpoints';
@import '../styles/mixin';

.page-line {
    @include pageDynamicPaddings();

    &__cards {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        
        @include tablet-screen {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }

        @include phone-screen {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
        }

        gap: 16px;
    }
}