@import '../styles/breakpoints';
@import '../styles/colors';
@import '../styles/effects';
@import '../styles/mixin';

.page-profile {
    @include pageDynamicPaddings();

    // display: grid;

    // @include large-screen {
    //     grid-template-columns: repeat(2, minmax(200px, 1fr)); 
    // }

    // @include medium-screen {
    //     grid-template-columns: repeat(2, minmax(200px, 1fr));
    // }

    // @include tablet-screen {
    //     grid-template-columns: repeat(1, minmax(200px, 1fr));
    // }

    // @include phone-screen {
    //     grid-template-columns: repeat(1, minmax(200px, 1fr));
    // }

    &__wall {
        @include flexColumn();
        @include pageDynamicPaddings();
        box-sizing: border-box;
        justify-content: flex-end;
        position: relative;
    }

    &__edit {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }

    &__block-title {
        color: $grayDark;
    }

    &__subtitle {
        color: $graySubtitle;
    }

    &__block-elements {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 24px;

        @include tablet-screen {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            gap: 16px;

        }
    }
}

.profile-settings {
    background-color: $background;
    border-radius: 16px;
    padding: 32px 64px;
    @include large-screen {
        margin: 40vh 20vw;
    }
    
    @include medium-screen {
        margin: 40vh 20vw;
    }

    @include tablet-screen {
        margin: 40vh 0;
    }

    @include phone-screen {
        margin: 10vh 0;
    }

    display: flex;
    flex-direction: column;

    & > h1 {
        color: $grayDark;
    }

    & > div {
        margin-top: 16px;
    }
    
    & > button {
        margin-top: 16px;
    }
}