@import '../../styles/colors';
@import '../../styles/breakpoints';

.profile-block {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 0px;
    cursor: pointer;

    &__avatar {
        border-radius: 999px;
        margin-right: 8px;
    }

    &__actions {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 12px;
        background: #FFF2FA;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        top: 50px;

        @include large-screen {
            left: 10px;
        }

        @include medium-screen {
            right: -30px;
        }
    }

    &__action {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $graySecondary;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &_red {
            color: $red
        }

        &:hover {
            color: $red
        }
    }

    &__action-name {
        margin-left: 8px;
    }
}