@import '../../styles/mixin';
@import '../../styles/effects';
@import '../../styles/colors';
@import '../../styles/breakpoints';

.idea-card {
    @include flexColumn();
    @include elevation1();
    justify-content: flex-end;
    padding: 117px 26px 17px 23px;
    border-radius: 8px;
    color: $white;
    cursor: pointer;

    & {
        
    }
    
    @include large-screen {
        height: 220px;
    }
    
    @include medium-screen {
        height: 200px;
    }
    
    @include medium-screen {
        height: 160px;
    }
    
    @include phone-screen {
        height: 120px;
    }

    &__title {
    }

    &__description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
        color: $graySubtitle;
    }
    
    &__bottom {
        overflow: hidden;
    }
}