@import '../../styles/breakpoints';
@import '../../styles/mixin';

.wallpaper {
    position: relative;
    @include large-screen {
        height: 380px;
    }
    
    @include medium-screen {
        height: 380px;
    }
    
    @include tablet-screen {
        height: 280px;
    }
    
    @include phone-screen {
        height: 320px;
    }

    &__video-container {
        width: 100%;
        position: absolute;
        z-index: 1;
    }
}

