@import './styles/colors';

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: $background;
}

html, body {
    margin: 0;
    padding: 0;
}

.main {
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 26px;
    line-height: 30px;
    color: $grayTitle
}